{% extends "template.html.twig" %}
{% block active %}hours{% endblock %}
{% block content %}
    <section class="content hours">
        <header>
            <h1>Office Hours</h1>
        </header>
        {% if me.is_adviser %}
            <nav>
                <ul>
                    <li><a href="/hours">View Hours</a></li>
                    <li class="active"><a href="/hours/create">Post Hours</a></li>
                </ul>
            </nav>
        {% endif %}

        <form method="post">
            <div class="field">
                <label for="starts_at">Start At</label>
                <input type="datetime-local" name="starts_at" required />
                <span class="help">Start block time.</span>
            </div>

            <div class="field">
                <label for="length">Slot Length</label>
                <select name="length">
                    <option value="15">15 minutes</option>
                    <option value="20">20 minutes</option>
                    <option value="30">30 minutes</option>
                    <option value="45">45 minutes</option>
                    <option value="60">60 minutes</option>
                </select>
                <span class="help">Length of each individual slot.</span>
            </div>

            <div class="field">
                <label for="number">Number of Slots</label>
                <input name="number" type="number" min="1" max="20" value="1" required />
                <span class="help">How many office hours slots you'd like.</span>
            </div>

            <div class="field">
                <label for="description">Description</label>
                <textarea name="description">{{ description }}</textarea>
                <span class="help">Optional, information about the hours.</span>
            </div>

            <input type="submit" value="Post Hours" />
        </form>
    </section>
{% endblock %}
