ul.directory {
    padding: 0;
    max-width: 7 * 13.5em;
    margin: 2em 0 2em 2em;
    float: left;

    li.team {
        list-style-type: none;
        float: left;

        border-top: 2px solid #DA3610;
        padding: 0;

        margin-right: 1em;
        margin-bottom: 2.5em;

        ul {
            padding: 0;

            li {

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                list-style-type: none;
                float: left;

                display: block;
                width: 11em;
                height: 11em;
                margin: 0.25em;
                background: #fff;

                padding: 1em;
                overflow: hidden;

                @include rounded(3px);


                &.info {
                    background-color: #DA3610;
                    position: relative;

                    @include rounded(0, 0, 3px, 3px);

                    height: 11.25em;
                    top: -0.25em;

                    .name {
                        font-family: "brandon-grotesque", sans-serif;
                        font-weight: 900;
                        display: block;

                        font-size: 1.5em;
                        text-transform: uppercase;
                        color: #fff;
                        width: 100%;
                        line-height: 1em;

                        margin-bottom: 0.5em;

                        overflow: hidden;
                        text-overflow: ellipsis;

                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }

                    .description {
                        font-family: "brevia", sans-serif;
                        display: block;

                        position: absolute;
                        bottom: 2em;
                        padding-right: 1em;

                        max-height: 9em;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        color: #fff;
                        font-size: 0.7em;
                    }
                }

                &.member {
                    padding: 1em;
                    height: 11em;
                    position: relative;

                    img {
                        position: absolute;
                        width: 13em;
                        height: 13em;
                        display: block;
                        top: 0;
                        left: 0;
                    }

                    .details {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 0.5em;

                        background: rgba(35, 48, 57, 0.6);

                        .name {
                            display: block;
                            width: 100%;
                            margin-bottom: 0.2em;

                            .first, .last {
                                display: inline;
                                color: #fff;
                                font-weight: bold;
                                font-family: "brandon-grotesque", sans-serif;
                                letter-spacing: 0.1em;
                                font-size: 1em;
                                text-transform: uppercase;
                            }
                        }

                        .phone, .email a {
                            display: block;
                            color: #ddd;
                            font-size: 0.7em;
                            font-family: "brevia", sans-serif;

                            text-decoration: none;

                            .gc-cs-link {
                                text-decoration: none;
                                color: #ddd;
                            }
                        }
                    }
                }
            }
        }
        &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            clear: both;
        }
    }
}

nav.directory {
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: transparent;
        position: relative;
        top: -3px;
        @include box-shadow(0, 3px, 2px, rgba(0, 0, 0, 0.4));
    }

    float: left;
    background: #fff;
    width: 18%;
    right: 0;
    margin-left: 1%;

    border: 1px solid #D7D7D7;
    border-top: 0;
}