section.friends {
    table {
        td.name {
            width: 100%;

            img {
                width: 1em;
                height: 1em;
                margin-right: 0.5em;
            }
        }
    }
}