
$font_size: 12px;
$padding: 20px;
$normal_bg_color: #EFEFEF;
$hover_bg_color: #E5E5E5;
$normal_fg_color: #585858;
$hover_fg_color: #585858;
$border_color: #D7D7D7;
$font_stack: "brandon-grotesque", sans-serif;

@mixin rounded($topleft_or_all, $topright: null, $bottomright: null, $bottomleft: null) {

    @if ($topright == null) {
        $topright: $topleft_or_all;
    }

    @if ($bottomright == null) {
        $bottomright: $topleft_or_all;
    }

    @if ($bottomleft == null) {
        $bottomleft: $topleft_or_all;
    }

    -webkit-border-top-left-radius: $topleft_or_all;
    -webkit-border-top-right-radius: $topright;
    -webkit-border-bottom-left-radius: $bottomleft;
    -webkit-border-bottom-right-radius: $bottomright;
    -moz-border-radius-topleft: $topleft_or_all;
    -moz-border-radius-topright: $topright;
    -moz-border-radius-bottomleft: $bottomleft;
    -moz-border-radius-bottomright: $bottomright;
    border-top-left-radius: $topleft_or_all;
    border-top-right-radius: $topright;
    border-bottom-left-radius: $bottomleft;
    border-bottom-right-radius: $bottomright;
}

@mixin box-shadow($horizontal, $vertical, $blur_or_color, $spread_or_color: null, $color: null)
{
    @if ($spread_or_color == null) {
        $color: $blur_or_color;
        $blur_or_color: null;
    } @else if ($color == null) {
        $color: $spread_or_color;
        $spread_or_color: null;
    }

    -moz-box-shadow:     $horizontal $vertical $blur_or_color $spread_or_color $color;
    -webkit-box-shadow:  $horizontal $vertical $blur_or_color $spread_or_color $color;
    box-shadow:           $horizontal $vertical $blur_or_color $spread_or_color $color;
}

section.warning
{
    background: #DA3610;
    color: #fff;
    font-family: "brandon-grotesque", sans-serif;
    text-align: center;
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;

    a {
        color: #fff;
        text-decoration: none;
    }

    &:before, &:after {
        content: "\2691";
        margin: 0 0.3em;
    }

    &:before {
        display: inline-block;
        backface-visibility: hidden;

        -webkit-transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
}

section.content {
    width: 60em;
    margin: 0 auto;
    background-color: #fff;
    font-family: "freight-sans-pro", sans-serif;
    padding-bottom: 2em;
    position: relative;

    @include rounded(0, 0, 3px, 3px);

    &:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: -3px;
        display: block;
        background-color: transparent;
        @include box-shadow(0, 3px, 3px, 1px, rgba(0, 0, 0, 0.2));
    }

    header {
        background-color: #DA3610;
        color: #fff;

        padding: 2em 2em 2em 2em;

        @include rounded(0, 0, 3px, 3px);

        h1 {
            font-size: 3.5em;
            line-height: 1em;
            font-weight: normal;
            margin: 0;
        }

        margin-bottom: 2em;
    }

    nav {
        padding: 0;
        margin-top: -2.1em;
        ul {
            background-color: $normal_bg_color;
            border-bottom: 2px solid $border_color;
            padding: 0;
            li {
                list-style-type: none;
                float: left;

                border-right: 1px solid $border_color;

                &:first-child {
                    border-left: 1px solid $border_color;
                }

                &.active a {
                    color: $hover_fg_color;
                    background-color: $hover_bg_color;
                }

                a {
                    color: $normal_fg_color;
                    display: block;
                    font-size: $font_size;
                    padding: $padding/1.5;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $font_stack;
                    font-weight: bold;
                    letter-spacing: 0.1em;

                    &:hover {
                        color: $hover_fg_color;
                        background-color: $hover_bg_color;
                    }
                }
            }

            &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                clear: both;
            }
        }
    }

    h2:first-child {
        margin-top: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
    }

    & > * {
        padding: 0 2em;
    }

    &:after {
        content: "";
        clear: both;
        display: block;
        width: 0;
        height: 0;
    }
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input[type="text"], input[type="password"], input[type="datetime-local"], input[type="number"],
input[type="email"], textarea, select {
    outline: none;
    border: 1px solid #D7D7D7;
    @include rounded(3px);
    padding: 0.5em;
    display: block;
    width: 100%;

    font-family: "freight-sans-pro", sans-serif;
    font-size: 1em;

    &:focus {
        outline: none;
        border: 1px solid #DA3610;
    }
}

input[type="submit"] {
    background-color: #DA3610;
    border: 0;

    @include rounded(3px);
    padding: 1em;

    margin-top: 1em;

    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 1.2em;
}

section.content {
    div.field {
        margin-bottom: 1.5em;

        label {
            float: left;
            width: 10em;
        }

        input, textarea, select {
            float: left;
            width: 40em;
        }


        input[type="checkbox"] {
            width: auto;
        }

        textarea {
            height: 5em;
        }

        .help, img {
            margin-left: 13.5em;
            display: block;
            clear: both;
            font-size: 0.75em;
        }

        &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            clear: both;
        }
    }
}

table {
    thead {
        font-family: "brandon-grotesque", sans-serif;
        font-weight: bold;
        font-size: 0.75em;
        text-transform: uppercase;
        color: #585858;

        tr td {
            border-bottom: 1px solid #D7D7D7;
        }
    }

    td {
        padding: 0.5em 1em 0.5em 0;
        vertical-align: top;
        border-bottom: 1px solid #D7D7D7;
    }

    border-collapse: collapse;
    border-spacing: 0;
    margin: 2em;

    tbody {
        tr:last-child td {
            border-bottom: none;
        }
    }
}

a.facebook {
    border: 0;
    background-color: #3B5998;
    @include rounded(3px);
    padding: 0.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    display: inline-block;
}