@import "_utils.scss";

body {
    margin: 0;
    background-color: #E8EDF3;
}

@import "_header.scss";
@import "_directory.scss";
@import "_login.scss";
@import "_register.scss";
@import "_deals.scss";
@import "_friends.scss";
@import "_user.scss";