section.warning {
  background: #DA3610;
  color: #fff;
  font-family: "brandon-grotesque", sans-serif;
  text-align: center;
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em; }
  section.warning a {
    color: #fff;
    text-decoration: none; }
  section.warning:before, section.warning:after {
    content: "\2691";
    margin: 0 0.3em; }
  section.warning:before {
    display: inline-block;
    backface-visibility: hidden;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    transform: scale(-1, 1); }

section.content {
  width: 60em;
  margin: 0 auto;
  background-color: #fff;
  font-family: "freight-sans-pro", sans-serif;
  padding-bottom: 2em;
  position: relative;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }
  section.content:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: -3px;
    display: block;
    background-color: transparent;
    -moz-box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2); }
  section.content header {
    background-color: #DA3610;
    color: #fff;
    padding: 2em 2em 2em 2em;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 2em; }
    section.content header h1 {
      font-size: 3.5em;
      line-height: 1em;
      font-weight: normal;
      margin: 0; }
  section.content nav {
    padding: 0;
    margin-top: -2.1em; }
    section.content nav ul {
      background-color: #efefef;
      border-bottom: 2px solid #d7d7d7;
      padding: 0; }
      section.content nav ul li {
        list-style-type: none;
        float: left;
        border-right: 1px solid #d7d7d7; }
        section.content nav ul li:first-child {
          border-left: 1px solid #d7d7d7; }
        section.content nav ul li.active a {
          color: #585858;
          background-color: #e5e5e5; }
        section.content nav ul li a {
          color: #585858;
          display: block;
          font-size: 12px;
          padding: 13.33333px;
          text-transform: uppercase;
          text-decoration: none;
          font-family: "brandon-grotesque", sans-serif;
          font-weight: bold;
          letter-spacing: 0.1em; }
          section.content nav ul li a:hover {
            color: #585858;
            background-color: #e5e5e5; }
      section.content nav ul:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        clear: both; }
  section.content h2:first-child {
    margin-top: 0; }
  section.content h1, section.content h2, section.content h3, section.content h4, section.content h5, section.content h6 {
    margin-bottom: 0; }
  section.content p {
    margin-top: 0; }
  section.content > * {
    padding: 0 2em; }
  section.content:after {
    content: "";
    clear: both;
    display: block;
    width: 0;
    height: 0; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

input[type="text"], input[type="password"], input[type="datetime-local"], input[type="number"],
input[type="email"], textarea, select {
  outline: none;
  border: 1px solid #D7D7D7;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0.5em;
  display: block;
  width: 100%;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 1em; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="datetime-local"]:focus, input[type="number"]:focus,
  input[type="email"]:focus, textarea:focus, select:focus {
    outline: none;
    border: 1px solid #DA3610; }

input[type="submit"] {
  background-color: #DA3610;
  border: 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 1em;
  margin-top: 1em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.2em; }

section.content div.field {
  margin-bottom: 1.5em; }
  section.content div.field label {
    float: left;
    width: 10em; }
  section.content div.field input, section.content div.field textarea, section.content div.field select {
    float: left;
    width: 40em; }
  section.content div.field input[type="checkbox"] {
    width: auto; }
  section.content div.field textarea {
    height: 5em; }
  section.content div.field .help, section.content div.field img {
    margin-left: 13.5em;
    display: block;
    clear: both;
    font-size: 0.75em; }
  section.content div.field:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 2em; }
  table thead {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #585858; }
    table thead tr td {
      border-bottom: 1px solid #D7D7D7; }
  table td {
    padding: 0.5em 1em 0.5em 0;
    vertical-align: top;
    border-bottom: 1px solid #D7D7D7; }
  table tbody tr:last-child td {
    border-bottom: none; }

a.facebook {
  border: 0;
  background-color: #3B5998;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0.5em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  display: inline-block; }

body {
  margin: 0;
  background-color: #E8EDF3; }

body > header {
  background-color: #efefef;
  border-bottom: 2px solid #DA3610; }
  body > header h1 {
    float: left;
    margin: 0; }
    body > header h1 a {
      font-size: 12px;
      text-transform: uppercase;
      color: #DA3610;
      font-family: "brandon-grotesque", sans-serif;
      font-weight: bold;
      text-decoration: none;
      display: block;
      padding: 20px 40px 20px 23px;
      letter-spacing: 0.1em;
      z-index: -1;
      text-shadow: -1px 1px #d7d7d7, -2px 2px #d7d7d7, -3px 3px #d7d7d7, -4px 4px #d7d7d7, -5px 5px #d7d7d7, -6px 6px #d7d7d7, -7px 7px #d7d7d7, -8px 8px #d7d7d7, -9px 9px #d7d7d7, -10px 10px #d7d7d7, -11px 11px #d7d7d7, -12px 12px #d7d7d7, -13px 13px #d7d7d7, -14px 14px #d7d7d7, -15px 15px #d7d7d7, -16px 16px #d7d7d7, -17px 17px #d7d7d7, -18px 18px 1px #d7d7d7, -19px 19px 2px #d7d7d7, -20px 20px 3px #d7d7d7, -21px 21px 4px #d7d7d7, -22px 22px 5px #d7d7d7, -23px 23px 6px #d7d7d7, -24px 24px 7px #d7d7d7; }
  body > header nav {
    width: auto;
    display: block; }
    body > header nav > ul {
      margin: 0;
      padding: 0;
      float: left; }
      body > header nav > ul > li {
        float: left;
        height: 100%;
        display: block;
        list-style-type: none;
        border-right: 1px solid #d7d7d7; }
        body > header nav > ul > li:first-child {
          border-left: 1px solid #d7d7d7; }
        body > header nav > ul > li.active a {
          color: #585858;
          background-color: #e5e5e5; }
        body > header nav > ul > li a {
          color: #585858;
          display: block;
          font-size: 12px;
          padding: 20px;
          text-transform: uppercase;
          text-decoration: none;
          font-family: "brandon-grotesque", sans-serif;
          font-weight: bold;
          letter-spacing: 0.1em; }
          body > header nav > ul > li a:hover {
            color: #585858;
            background-color: #e5e5e5; }
    body > header nav ul.controls {
      float: right; }
      body > header nav ul.controls > li {
        position: relative; }
        body > header nav ul.controls > li > a:after {
          content: "\25BE";
          font-size: 0.5em;
          margin-left: 0.5em;
          position: relative;
          top: -0.25em;
          color: #B7B7B7; }
        body > header nav ul.controls > li ul {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          right: -1px;
          padding: 0;
          border: 1px solid #d7d7d7;
          border-top: 2px solid #efefef;
          -webkit-transition: opacity 0.2s ease-in-out; }
          body > header nav ul.controls > li ul li {
            margin: 0;
            list-style-type: none; }
            body > header nav ul.controls > li ul li a {
              font-size: 12px;
              padding: 20px;
              background-color: #fff;
              font-family: "brandon-grotesque", sans-serif; }
              body > header nav ul.controls > li ul li a:hover {
                background-color: #efefef; }
        body > header nav ul.controls > li:hover ul, body > header nav ul.controls > li ul:hover {
          -webkit-transition: opacity 0.2s ease-in-out;
          visibility: visible;
          opacity: 1; }
  body > header:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both; }

ul.directory {
  padding: 0;
  width: 80%;
  max-width: 94.5em;
  margin: 2em 0 2em 2em;
  float: left; }
  ul.directory li.team {
    list-style-type: none;
    float: left;
    border-top: 2px solid #DA3610;
    padding: 0;
    margin-right: 14em;
    margin-bottom: 2.5em; }
    ul.directory li.team ul {
      padding: 0; }
      ul.directory li.team ul li {
        list-style-type: none;
        float: left;
        display: block;
        width: 11em;
        height: 11em;
        margin: 0.25em;
        background: #fff;
        padding: 1em;
        overflow: hidden;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomleft: 3px;
        -moz-border-radius-bottomright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; }
        ul.directory li.team ul li:first-child {
          margin-left: 0; }
        ul.directory li.team ul li:last-child {
          margin-right: 0; }
        ul.directory li.team ul li.info {
          background-color: #DA3610;
          position: relative;
          -webkit-border-top-left-radius: 0;
          -webkit-border-top-right-radius: 0;
          -webkit-border-bottom-left-radius: 3px;
          -webkit-border-bottom-right-radius: 3px;
          -moz-border-radius-topleft: 0;
          -moz-border-radius-topright: 0;
          -moz-border-radius-bottomleft: 3px;
          -moz-border-radius-bottomright: 3px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          height: 11.25em;
          top: -0.25em; }
          ul.directory li.team ul li.info .name {
            font-family: "brandon-grotesque", sans-serif;
            font-weight: 900;
            display: block;
            font-size: 1.5em;
            text-transform: uppercase;
            color: #fff;
            width: 100%;
            line-height: 1em;
            margin-bottom: 0.5em;
            overflow: hidden;
            text-overflow: ellipsis; }
            ul.directory li.team ul li.info .name a {
              color: #fff;
              text-decoration: none; }
          ul.directory li.team ul li.info .description {
            font-family: "brevia", sans-serif;
            display: block;
            position: absolute;
            bottom: 2em;
            padding-right: 1em;
            max-height: 9em;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #fff;
            font-size: 0.7em; }
        ul.directory li.team ul li.member {
          padding: 1em;
          height: 11em;
          position: relative; }
          ul.directory li.team ul li.member img {
            position: absolute;
            width: 13em;
            height: 13em;
            display: block;
            top: 0;
            left: 0; }
          ul.directory li.team ul li.member .details {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.5em;
            background: rgba(35, 48, 57, 0.6); }
            ul.directory li.team ul li.member .details .name {
              display: block;
              width: 100%;
              margin-bottom: 0.2em; }
              ul.directory li.team ul li.member .details .name .first, ul.directory li.team ul li.member .details .name .last {
                display: inline;
                color: #fff;
                font-weight: bold;
                font-family: "brandon-grotesque", sans-serif;
                letter-spacing: 0.1em;
                font-size: 1em;
                text-transform: uppercase; }
            ul.directory li.team ul li.member .details .phone, ul.directory li.team ul li.member .details .email a {
              display: block;
              color: #ddd;
              font-size: 0.7em;
              font-family: "brevia", sans-serif;
              text-decoration: none; }
              ul.directory li.team ul li.member .details .phone .gc-cs-link, ul.directory li.team ul li.member .details .email a .gc-cs-link {
                text-decoration: none;
                color: #ddd; }
    ul.directory li.team:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      clear: both; }

nav.directory {
  float: left;
  background: #fff;
  width: 18%;
  right: 0;
  margin-left: 1%;
  border: 1px solid #D7D7D7;
  border-top: 0; }
  nav.directory:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    position: relative;
    top: -3px;
    -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4); }

section.login section {
  float: left;
  width: 25em; }
section.login form {
  width: 15em;
  padding: 1em;
  float: left;
  padding-top: 0; }
  section.login form input[type="text"], section.login form input[type="password"] {
    width: 14em; }
  section.login form input[name="username"] {
    border-bottom: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  section.login form input[name="password"] {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  section.login form input[type="submit"] {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 12.6em;
    padding: inherit 0; }
  section.login form h1 {
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-family: "brandon-grotesque", sans-serif;
    text-transform: uppercase; }
  section.login form input {
    width: 100%;
    margin: 0; }

section.register form {
  text-align: center;
  width: 40em;
  margin: 0 auto; }
  section.register form fieldset input {
    width: 38em;
    padding: 1em; }
  section.register form fieldset input[type="password"] {
    letter-spacing: 0.8em; }
    section.register form fieldset input[type="password"]::-webkit-input-placeholder {
      letter-spacing: normal; }
    section.register form fieldset input[type="password"]::-moz-placeholder {
      letter-spacing: normal; }
    section.register form fieldset input[type="password"]:-moz-placeholder {
      letter-spacing: normal; }
    section.register form fieldset input[type="password"]:-ms-input-placeholder {
      letter-spacing: normal; }
  section.register form fieldset input {
    margin-top: 0;
    margin-bottom: 0;
    border-top-width: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  section.register form fieldset input:first-child {
    border-top-width: 1px;
    margin-bottom: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  section.register form fieldset input:last-child {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  section.register form fieldset.login input[name="password"] {
    float: left;
    margin-right: 0;
    border-right-width: 0.1em;
    width: 17.95em;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0; }
  section.register form fieldset.login input[name="password_confirm"] {
    float: left;
    margin-left: 0;
    width: 17.95em;
    border-left: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px; }

section.deals {
  width: 60em; }
  section.deals table td.details, section.deals table td.redemption {
    width: 50%; }
  section.deals table td {
    padding: 0.5em 4em 2em 0; }
  section.deals table tbody td.company a {
    color: black;
    text-decoration: none;
    font-weight: bold; }
  section.deals table tbody td.moderate a {
    background-color: #DA3610;
    border: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0.5em;
    margin-top: 1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 0.7em;
    text-decoration: none; }

section.friends table td.name {
  width: 100%; }
  section.friends table td.name img {
    width: 1em;
    height: 1em;
    margin-right: 0.5em; }

.user.view p {
  margin: 0; }
.user.view img {
  float: left;
  width: 13em;
  height: 13em; }
.user.view .info {
  float: left;
  width: 37em; }
  .user.view .info h2 {
    border-bottom: 1px solid #d7d7d7;
    clear: both; }
  .user.view .info label {
    float: left;
    width: 5em;
    clear: both; }
  .user.view .info p {
    float: left; }
.user.view h2 {
  clear: both; }
.user.view .companies {
  clear: both;
  padding-top: 1em; }
  .user.view .companies ul {
    padding: 0; }
    .user.view .companies ul li {
      list-style-type: none;
      float: left;
      display: block;
      width: 11em;
      height: 11em;
      margin: 0.25em;
      background: #fff;
      padding: 1em;
      overflow: hidden;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomleft: 3px;
      -moz-border-radius-bottomright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background-color: #DA3610;
      position: relative;
      height: 11.25em;
      top: -0.25em; }
      .user.view .companies ul li:first-child {
        margin-left: 0; }
      .user.view .companies ul li:last-child {
        margin-right: 0; }
      .user.view .companies ul li .name {
        font-family: "brandon-grotesque", sans-serif;
        font-weight: 900;
        display: block;
        font-size: 1.5em;
        text-transform: uppercase;
        color: #fff;
        width: 100%;
        line-height: 1em;
        margin-bottom: 0.5em;
        overflow: hidden;
        text-overflow: ellipsis; }
        .user.view .companies ul li .name a {
          color: #fff;
          text-decoration: none; }
      .user.view .companies ul li .description {
        font-family: "brevia", sans-serif;
        display: block;
        position: absolute;
        bottom: 2em;
        padding-right: 1em;
        max-height: 9em;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        font-size: 0.7em; }
.user ul.social-connect li {
  list-style-type: none;
  display: block;
  text-align: center; }
  .user ul.social-connect li.linked a, .user ul.social-connect li.unlinked a {
    border: 0;
    background-color: #585858;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1em;
    margin-top: 1em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block; }
  .user ul.social-connect li.facebook.unlinked a {
    background-color: #3B5998; }
  .user ul.social-connect li.linkedin.unlinked a {
    background-color: #1381BB; }
  .user ul.social-connect li.twitter.unlinked a {
    background-color: #00ACEE; }

section.company.view ul.members li {
  list-style-type: none;
  float: left;
  display: block;
  width: 11em;
  height: 11em;
  margin: 0.25em;
  background: #fff;
  padding: 1em;
  overflow: hidden;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 1em;
  height: 11em;
  position: relative; }
  section.company.view ul.members li:first-child {
    margin-left: 0; }
  section.company.view ul.members li:last-child {
    margin-right: 0; }
  section.company.view ul.members li img {
    position: absolute;
    width: 13em;
    height: 13em;
    display: block;
    top: 0;
    left: 0; }
  section.company.view ul.members li .details {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    background: rgba(35, 48, 57, 0.6); }
    section.company.view ul.members li .details .name {
      display: block;
      width: 100%;
      margin-bottom: 0.2em; }
      section.company.view ul.members li .details .name .first, section.company.view ul.members li .details .name .last {
        display: inline;
        color: #fff;
        font-weight: bold;
        font-family: "brandon-grotesque", sans-serif;
        letter-spacing: 0.1em;
        font-size: 1em;
        text-transform: uppercase; }
    section.company.view ul.members li .details .phone, section.company.view ul.members li .details .email a {
      display: block;
      color: #ddd;
      font-size: 0.7em;
      font-family: "brevia", sans-serif;
      text-decoration: none; }
      section.company.view ul.members li .details .phone .gc-cs-link, section.company.view ul.members li .details .email a .gc-cs-link {
        text-decoration: none;
        color: #ddd; }

section.hours ul.blocks > li {
  list-style-type: none;
  margin-bottom: 3em; }
  section.hours ul.blocks > li h2 {
    font-family: "brandon-grotesque", sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    border-bottom: 1px solid #d7d7d7; }
    section.hours ul.blocks > li h2 img {
      width: 1em;
      height: 1em; }
  section.hours ul.blocks > li .action a, section.hours ul.blocks > li .admin a {
    border: 0;
    background-color: #e5e5e5;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0 0.5em;
    color: #585858;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    display: inline-block; }
  section.hours ul.blocks > li > .admin {
    float: right; }
  section.hours ul.blocks > li ul.slots {
    padding: 0; }
    section.hours ul.blocks > li ul.slots li {
      list-style-type: none;
      padding: 0.2em 0; }
      section.hours ul.blocks > li ul.slots li .time {
        display: inline-block;
        width: 4em; }
      section.hours ul.blocks > li ul.slots li .who {
        display: inline-block;
        width: 10em; }
      section.hours ul.blocks > li ul.slots li .action {
        display: inline-block;
        float: right; }
      section.hours ul.blocks > li ul.slots li:nth-child(even) {
        background-color: #efefef; }
      section.hours ul.blocks > li ul.slots li.noshow .who {
        color: #DA3610; }
