{% extends "template.html.twig" %}
{% block active %}friends{% endblock %}

{% block content %}
    <section class="content friends">
        <header>
            <h1>Friends</h1>
        </header>

        <table>
            <thead>
                <tr>
                    <td class="name">Name</td>
                    <td class="facebook">Facebook</td>
                </tr>
            </thead>
            <tbody>
                {% for member in current_cohort.members %}
                    <tr>
                        <td class="name"><img src="{{ member.photo_websafe }}" />{{ member.name }}</td>
                        <td class="facebook">
                            {% if member.facebook and member.id != me.id and not me.facebook_friends_with(member) %}
                                <a class="facebook" target="_blank" href="https://www.facebook.com/addfriend.php?id={{ member.facebook.service_user_id }}">
                                    Add Friend
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
