{% extends "template.html.twig" %}

{% block content %}
    {% if invalid_login %}
        <section class="warning">
            Invalid username or password.
        </section>
    {% endif %}

    <form class="login" method="post">
        <p>If you do not have an account, please talk to Tyler.</p>
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
{% endblock %}
